@define-color bg    #1a1b26; 
@define-color fg    #a9b1d6; 
@define-color blk   #32344a; 
@define-color red   #f7768e; 
@define-color grn   #9ece6a; 
@define-color ylw   #e0af68; 
@define-color blu   #7aa2f7; 
@define-color mag   #ad8ee6; 
@define-color cyn   #0db9d7; 
@define-color brblk #444b6a; 
@define-color white #ffffff; 

@import url("/home/hamato/.cache/wal/colors-waybar.css");

* {
    font-family: "JetBrainsMono Nerd Font", monospace;
    font-size: 15px;
    font-weight: bold;
}

window#waybar {
    background-color: alpha(#121212, 0.7);
    border: 2px solid #1cb8d5;
    border-radius: 5px;
    color: @fg;
}

#workspaces button {
    padding: 0 7px;
    margin: 5px 0px 5px 5px;
    color: #ffffff;
    background: transparent;
}
#workspaces button.active {
    color: #121212;
    background: #c9ad3e;
    border-radius: 0px;
}
#workspaces button.empty {
    color: #ffffff;
}
#workspaces button.empty.active {
    color: #121212;
    background: #c9ad3e;
}

#workspaces button.urgent {
    background-color: @red;
}

button:hover {
    background: transparent;
    border-radius: 0px;
    border-color: transparent;
}

tooltip {
  border: 2px solid #1cb8d5;
  border-radius: 8px;
  color: #0e85d8;
  background-color: alpha(#121212, 0.7);
}

tooltip label {
  color: #0e85d8;
}


#clock,
#custom-sep,
#battery,
#cpu,
#memory,
#disk,
#network,
#tray {
    padding: 0 8px;
    color: @white;
}

#custom-sep {
    color: #23cbe4;

}

#clock {
    color: #ebcf18;
}
#pulseaudio {
    color: #ffffff;
}

#pulseaudio.muted {
    color: @white;
    background-color: @red;
}

#battery {
    color: #ffffff;
}

#disk {
    color: #ffffff;
}

#memory {
    color: #ffffff;
}

#cpu {
    color: #ffffff;
}
#custom-vpn {
    color: #ffffff;
}

#network {
    color: #ffffff;
}

#network.disconnected {
    color: @white;
    background-color: @red;
}

#tray {
    background-color: transparent;
    margin-right: 7px;
}

#tray menu  {
    border: 2px solid #1cb8d5;
    border-radius: 8px;
    color: #0e85d8; /* Change text color in menus */
    background: alpha(#121212, 0.7); /* Change background of menu items */
}

#tray menu :hover {
    border-radius: 0px;
    color: #121212; 
    background-color: #c9ad3e; /* Hover effect for menu items */
}


