@define-color bg    #1a1b26; 
@define-color fg    #a9b1d6; 
@define-color blk   #32344a; 
@define-color red   #f7768e; 
@define-color grn   #9ece6a; 
@define-color ylw   #e0af68; 
@define-color blu   #7aa2f7; 
@define-color mag   #ad8ee6; 
@define-color cyn   #0db9d7; 
@define-color brblk #444b6a; 
@define-color white #ffffff; 

@import url("/home/hamato/.cache/wal/colors-waybar.css");

* {
    font-family: "JetBrainsMono Nerd Font", monospace;
    font-size: 15px;
    font-weight: bold;
}

window#waybar {
    background-color: alpha(#ECE6E7, 1.0);
    border: 0px solid #352181;
    border-radius: 0px;
    color: @fg;
}

#workspaces button {
    padding: 0 10px;
    margin: 0px 0px 0px 0px;
    color: #1C0C31;
    background: transparent;
}
#workspaces button.active {
    color: #ECE6E7;
    background: #b3372a;
    border-radius: 0px;
}
#workspaces button.empty {
    color: #1C0C31;
}
#workspaces button.empty.active {
    color: #ECE6E7;
    background: #b3372a;
}

#workspaces button.urgent {
    background-color: @red;
}

button:hover {
    background: transparent;
    border-radius: 0px;
    border-color: transparent;
}

tooltip {
  border: 0px solid #352181;
  border-radius: 0px;
  color: #4c0f60;
  background-color: alpha(#ECE6E7, 1.0);
}

tooltip label {
  color: #4c0f60;
}


#clock,
#custom-sep,
#battery,
#cpu,
#memory,
#disk,
#network,
#tray {
    padding: 0 8px;
    color: @white;
}

#custom-sep {
    color: #a44d54;

}

#clock {
    color: #925359;
}
#pulseaudio {
    color: #1C0C31;
}

#pulseaudio.muted {
    color: @white;
    background-color: @red;
}

#battery {
    color: #1C0C31;
}

#disk {
    color: #1C0C31;
}

#memory {
    color: #1C0C31;
}

#cpu {
    color: #1C0C31;
}
#custom-vpn {
    color: #1C0C31;
}

#network {
    color: #1C0C31;
}

#network.disconnected {
    color: @white;
    background-color: @red;
}

#tray {
    background-color: transparent;
    margin-right: 7px;
}

#tray menu  {
    border: 0px solid #352181;
    border-radius: 0px;
    color: #4c0f60; /* Change text color in menus */
    background: alpha(#ECE6E7, 1.0); /* Change background of menu items */
}

#tray menu :hover {
    border-radius: 0px;
    color: #ECE6E7; 
    background-color: #b3372a; /* Hover effect for menu items */
}


